




.scenery {
	
	width:33.33%;
	float: left;
	box-sizing:border-box;
	display: inline-block;
	
}

body {
margin: 0;
color: #223b49;

}

.navbar {
    background-color: #223b49 ;
    padding: 10px;
    height: 90px;
}

.hero {

height: 500px;
background: url(https://images.unsplash.com/photo-1583252821153-577dad2a238d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center;	
text-align: center;
padding: 15px 0;
width: 100%;
margin-top: 5px;
}

.sec {
    display: inline-block;
}



.article {
display: inline-block;
width: 33%;
padding: 0 20px;
float:left;
box-sizing: border-box;

}


.article-tag {
    background-color: #35696e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
	
}










